.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

label, #output-label {
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

label {
  color: white;
}

#input-area, #output-area {
  position: absolute;
  height: 100%;
  width: 50%;
}

#input-area {
  left: 0;
  background-color: #282c34;
}

textarea {
  background-color: #282c34;
  width: 98%;
  height: 100%;
  color: paleturquoise;
}

#output-area {
  right: 0;
}

